.app-bar {
  background: transparent;
  height: 60px;
  display: flex;
  justify-content: space-between;
  box-shadow: none;
}
.app-bar img {
  margin-right: 48px;
}
.nav-links {
  justify-content: space-between;
}
.menu-links {
  display: flex;
}
