.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.app-bar {
  background: transparent;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.app-bar img {
  margin-right: 48px;
}
.icon-bars {
  display: none;
  color: black;
  transition: all 0.2s ease-in-out;
}
.icon-bars:hover {
  color: #56b460;
}
.nav-links {
  justify-content: space-between;
}
Button.menu-link {
  text-transform: capitalize;
}

.menu-link:hover {
  color: #56b460;
}
@media screen and (max-width: 768px) {
  .icon-bars {
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
  }

  Button.menu-link {
    display: none;
  }
}
